*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body, html {
    height: 100%;
}
body {

    background: #a099bb;
    display: flex;
    place-items: center;
    position: relative;
}

.calculatrice {
    position: absolute;
    left: 30%;
    width: 330px;
    background: #ffc5f4;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 
    -3px -3px 7px #221d3b,
                        3px 3px 5px #00000070;
                
}


.calculatrice .resultat {
    margin: 0px 0px;
    top: 20px;
    height: 70px;
    width: 100%;
    background: #120f1f;
    box-shadow: 

    inset -3px -3px 7px #221d3b,
                         inset 3px 3px 5px #00000070;

}
.calculatrice .resultat input{
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 1rem;
    color: #d6cdf5;
    font-size: 20px;
    text-align: right;
    border: none;
    outline: none;
    box-shadow:
    inset -1px -1px 7px #221d3b,
    inset 1px 1px 5px #00000070;
    font-weight: 500;

}
.calculatrice .buttons {
    padding: 30px 0 0 0;
    text-align: center;
}

.calculatrice .teste:hover {
    font-size: xx-large;
}

.calculatrice .test:hover {
    font-size: 110%;
}

.calculatrice input[type=button]{
    height: 40px;
    width: 40px;
    margin: 4px;
    font-size: 23px;
    background: #120f1f;
    color: #f1f1f1;
    border: none;
    outline: none;
    box-shadow:
    -2px -2px 7px #221d3b,
    2px 2px 5px #00000070;
    cursor: pointer;
}
.calculatrice input[type=button]:active{
    box-shadow:
    inset -2px -2px 7px #221d3b,
    inset 2px 2px 5px #00000070;

}

.functions input[type=button] {
    background-color: #eb9595;
    width: 50px;
    height: 20px;
    background-color: #120f1f;
    font-size: 13px;
    margin: 6px 10px;

}


#reset{
    width: 92px;
}



.infos {
    color: #eb9595;
    text-align: center;
    text-transform: uppercase;
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    font-weight: 400;
    
}

/** Boîte à outils ***/




#funcvar{
    background-color: aqua;
    width: 250px;
    height: 300px;
    position: absolute;
    right: 20%;
    bottom: 20%;
    display: flex;
}

#funcvar h1{
  /*  background-color: #eb9595; */
    position: absolute;
}

#funcvar2 {
    top: 30%;
  
  /* background-color: #d6cdf5; */
    position: absolute;
    left: 9%;
}


#trigo{
    text-align: center;
    background-color: rgb(170, 164, 253);
    width: 250px;
    height: 300px;
    position: absolute;
    right: 20%;
    bottom: 20%;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #221d3b,
                        3px 3px 5px #00000070;
    
}

#trigo h1{
    text-align: center;
    color: purple;
}

#hist{
    text-align: center;
    background-color: rgb(59, 228, 209);
    width: 250px;
    height: 300px;
    position: absolute;
    right: 20%;
    bottom: 20%;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #221d3b,
                        3px 3px 5px #00000070;
    
}

#hist h1{
    text-align: center;
    color: purple;
}

.outils input[type=button]{
    height: 40px;
    width: 40px;
    margin: 4px;
    font-size: 23px;
    background: #120f1f;
    color: #f1f1f1;
    border: none;
    outline: none;
    box-shadow:
    
    -2px -2px 7px #221d3b,
    2px 2px 5px #00000070;
    cursor: pointer;
}
.outils input[type=button]:active{
    box-shadow:
    inset -2px -2px 7px #221d3b,
    inset 2px 2px 5px #00000070;

}



.outil #cos, #tan, #sin{
    font-size: 10px;
    width: 60px;
}

.outil #arcos, #arcsin, #arctan {
    font-size: 20px;
    width: 60px;
}

.outil #sqrt {
    font-size: 20px;
    width: 60px;
}

.outil #pi {
    font-size: 20px;
    width: 60px;
}

